:root {
}

* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}

#header {
    display: flex;
    background-color: #0069a4;
}
#header > img {
    padding: 20px;
    height: 100px;
}


#body {
    padding: 20px;
}